[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"

[packages]
cytoolz = {path = "./wheels/cytoolz-0.9.0.1-cp37-cp37m-win_amd64.whl"}
ujson = {path = "./wheels/ujson-1.35-cp37-cp37m-win_amd64.whl"}
twisted = {path = "./wheels/Twisted-18.9.0-cp37-cp37m-win_amd64.whl"}
rasa-nlu = "==0.14.3"
spacy = "==2.0.16"
jupyter = "==1.0.0"
sklearn-crfsuite = "==0.3.6"
tensorflow = "==1.13.1"

[requires]
python_version = "3.7"
